<header>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
<a class="navbar-brand" href="/"><h2>&nbsp;&nbsp;&nbsp;&nbsp;CoderNet&nbsp;&nbsp;&nbsp;&nbsp;</h2></a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
<span class="fa fa-search"></span>
</button>
<div class="collapse navbar-collapse" id="navbarCollapse">
<ul class="navbar-nav mr-auto">
<li class="nav-item active">
<a class="nav-link" href="{% url 'book_list_url' %}"><h5>&nbsp;&nbsp;Книги&nbsp;&nbsp;</h5>
</a></li>
<li class="nav-item active"><a class="nav-link" href="{% url 'category_video_list_url' %}"><h5>&nbsp;&nbsp;Видео&nbsp;&nbsp;</h5></a></li>
<li class="nav-item active"><a class="nav-link" href="{% url 'articles_list_url' %}"><h5>&nbsp;&nbsp;Статьи&nbsp;&nbsp;</h5>
</a></li>
</ul>
<form class="form-inline my-2 my-lg-0" action="{% url 'search_url' %}">
<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search">
<button class="btn btn-outline-light my-2 my-sm-0" type="submit"><span class="fa fa-search"></span></button>
</form>
</div>
</nav>
</header>