{% extends 'booklist/booklist.html' %}

{% block title %}
    {{ course.title }}
{% endblock %}

{% block content %}<h1>{{ course.title }}</h1>
<div class="row">
    {% for video in course.video.all %}
<!-- Grid row -->




  <!-- Grid column -->
  <div class="col-lg-4 col-md-12 mb-4">

    <!--Modal: Name-->
    <div class="modal fade" id="modal{{ video.title }}" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">

        <!--Content-->
        <div class="modal-content">

          <!--Body-->
          <div class="modal-body mb-0 p-0">

            <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
              <iframe class="embed-responsive-item" src="{{ video.link }}"
                allowfullscreen></iframe>
            </div>

          </div>

          <!--Footer-->
          <div class="modal-footer justify-content-center">
            <span class="mr-4">{{ video.title }}</span>


            <button type="button" class="nav-link btn btn-outline-secondary" data-dismiss="modal">Закрыть</button>

          </div>

        </div>
        <!--/.Content-->

      </div>
    </div>
    <!--Modal: Name-->

    <a><img class="img-fluid z-depth-1" src="https://mdbootstrap.com/img/screens/yt/screen-video-1.jpg" alt="video"
        data-toggle="modal" data-target="#modal{{ video.title }}"></a>
<span>{{ video.title }}</span>
  </div>


    {% endfor %}
</div>
    
{% endblock %}

